/* Estilos gerais */
body {
  font-family: 'Open Sans', sans-serif;
}

 

header {
  display: flex;
  justify-content: end;
  padding: 15px;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header li {
  margin-left: 15px;
}



a {
  color: hsl(59, 65%, 52%); /* cor do texto */
  text-decoration: none; /* remove sublinhado */
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(19, 18, 18, 0.2);
}

a:hover {
  text-decoration: underline; /* adiciona sublinhado ao passar o mouse */
}

/*logo*/

.logo {
  display: block;
  margin: 150px auto 90px;
  width: 200px;
}
.logo-central {
  width: 300px;
  max-width: 300px;
}
input[type="text"] {
  margin-top: 50px;
}

main {
  text-align: center;  
}
  /* corpo */
.container {
  position: relative;
}

.corpo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px; /* largura fixa */
  padding: 20px;  
}

 /* estilos caixa de pesquisa */

 input[type="text"] {
  width: 600px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #b6b2b2;
  border-radius: 15px;
  font-size: 16px;
}
input[type=text] {
  color: #777; /* cor cinza para texto */
}

input[type=text]:focus {
  color: #050505; /* preto quando clica na caixa */
}

 /* estilos botão pesquisa */

input[type="submit"] {
  margin-top: 20px;
  padding: 12px 20px;
  background: #ebf746;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}


.search-container {
  display: flex; 
  flex-direction: column;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.search-container input[type=text] {
  margin-bottom: 0px;
}


 /* rodape */

footer span {
  display: block;
  text-align: center;
  margin-right: 20px; 
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background: #f2f2f2;
  border-top: 2px solid #e4e4e4;
  line-height: 20px;
  width: 99%;
  font-size: 14px;

}

footer ul {
  float: left;
  max-width: 30%;
  min-height: 1em;
  padding-left: 30px;
  margin: 5px;
}

footer ul li {
  color: #666;
  display: inline;
  font-size: 10px;
  margin: 5px;
  white-space: nowrap;  
}

footer a {
  color: #666;
  text-decoration: none;
}
  
footer a:hover {
  text-decoration: underline;
}


footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
/*config cell*/

@media (max-width: 600px) {
  .coluna {
    width: 100%;
    font-size: 14px; 
  }
}

/* Tela pequena */
@media(max-width: 600px) {
  .corpo {
    width: 90%;
  }
}